.dashboardSection {
    /* padding: 2rem; */
    background-color: #FFFFFF;
    
  }
  
  .header {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .title {
    font-size: 2rem;
    color: #2F975F; /* primary color */
    margin-bottom: 8px;
  }
  
  .description {
    font-size: 1.1rem;
    color: #575F56; /* secondary text color */
    max-width: 600px;
    margin: 0 auto;
  }
  
  .noStaff {
    text-align: center;
    color: #575F56;
    font-size: 1.1rem;
    margin-top: 1.8rem;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }