.posterSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    overflow: hidden;
    background-color: var(--background-color);
    padding: 24px 56px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .posterImage {
    width: 100%;
    height: 100%;
    margin: 16px 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
  }
  
  .eventDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
    border-radius: 8px;
    width: 100%;
    margin-top: 16px;
  }
  
  .eventTitle {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 16px 0;
    text-align: center;
  }
  
  .eventContainer {
    display: flex;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    gap: 16px;
    background-color: white;
    border-radius: 8px;
  }
  
  .eventInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 8px;
    padding: 16px;
  }
  
  .eventSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .eventHeading {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
  }
  
  .eventText {
    font-size: 0.9rem;
    margin-left: 4px;
    color: #555;
  }
  
  .eventLocation {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: #f0f8ff;
    border-radius: 8px;
  }
  
  .eventLocation img {
    width: 100%;
    height: 90%;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .eventLocationText {
    font-size: 0.7rem;
    text-align: center;
  }