.card {
  background-color: #FFFFFF;
  border: 1px solid #575F56;
  border-radius: 0.5rem; /* 8px */
  padding: 1rem; /* 20px */
  margin: 0.5rem; /* 8px */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px */
  width: 10rem;
}

.card:hover {
  transform: translateY(-0.3125rem); /* 5px */
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2); /* 6px 12px */
  border-color: #2F975F; /* primary color on hover */
}

.image {
  
  width: 8rem; /* 80px */
  height: 8rem; /* 80px */
  border-radius: 50%;
  object-fit: cover;
  border: 0.125rem solid #2F975F; /* 2px */
  margin: 0 auto;
  display: block;
  
}


.details {
  text-align: center;
  
}

.name {
  font-size: 1rem; /* Keep original size */
  font-weight: 600;
  color: #000000;
  margin-bottom: 0.25rem; /* 4px */
}

.classYear {
  font-size: 0.8rem;
  color: #575F56;
  margin-top: 0.25rem; /* 4px */
}

.card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.selected {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
}